@import '../../styles/variables.scss';
 
 
.news-list__inner{
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  display: flex;
  gap: $sp-10;
  padding: $sp-50;
}
.news-item{
  box-shadow: 0 1px 4px -2px;
  padding: 50px;
  border-radius: 15px;
 
 }
 
.news-item p {
	color: black;
  font-family: $font;
  font-size: $fz-15;
  font-weight: $font-weight-light;
}
.news-card{
  width: $wd-100p;
}
.news-card h2 {
  margin-top: $sp-10;
}
.news-img{
  width: $wd-100p;
  height: $hg-100;
  object-fit: cover;
}
 .main-text{
  margin: $sp-15 0px $sp-15 0px ;
 }


 


 @media(max-width:1200px){
  .news-list__inner{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:750px){
  .news-list__inner{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:550px){
  .news-list__inner{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width:550px){
  .main-text{
    font-size: $fz-10 !important;
  }
}