@import '../../styles/variables.scss';

 
.error{
	color:salmon;
    font-size: $sp-15;
    font-family: $font;
}
 
.btn{
    width: $wd-100p; 
    display: flex;
    justify-content: center;     
    background-color: #b5b5b5;
    margin: 0 auto;
    margin-top: $sp-35 $sp-0 $sp-20 $sp-0;
    padding: $sp-15;
    margin-top: $sp-20;
}
.btn:hover{
    transform: scale(1.01);
    transition: .2s;
    box-shadow: $shadow-small;
}

 