@import '../../../styles/variables.scss';

 
 .news-list{
  height: $hg-100vh;
 }
.news-list__inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $sp-10;
}
 

.message{
	text-align: center;
	margin-top: $sp-50;
	font-family: "Open Sans", sans-serif;
  font-size: $fz-20;
  font-weight: $medium;
	color: salmon;
}
.news-list__item{
  cursor: pointer;
  padding: $sp-15;
  background: #eaeef4;
  margin-bottom: $sp-5;
  border-radius: $br-4;
	gap: $sp-10;
  height: max-content;
 }
.news-list__item:hover{
	box-shadow: $shadow-small;
	transition: .2s;
}
.news-list__item p {
	color: black;
  font-family: $font;
  font-size: $fz-15;
  font-weight: $light;
}
.news-img{
	width: $wd-100p;
  height: $hg-150;
  object-fit: cover;
}
 
 .main-text{
  margin: $sp-15 0px $sp-15 0px ;
 }



.edit-news:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.modal-content {
  background: #eaeef4;
  border-radius: $br-8;
  padding: $sp-50;
  position: relative;
  max-width: $wd-500;
  width: $wd-500;
  height: $hg-305;
  z-index: 15; 
  animation:bounce-in .5s;
  text-align: center;
  box-shadow:$shadow-small;

}
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 

@media(max-width:1200px){
  .news-list__inner{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:750px){
  .news-list__inner{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:550px){
  .news-list__inner{
    grid-template-columns: repeat(1, 1fr);
  }
}