@import '../../styles/variables.scss';

.schedule {
  padding: 20px;
  overflow-y: hidden;
}

.table {
  overflow-x: auto;
}

table {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 1px solid #000;
  table-layout: auto;
  margin: 10px auto;
}

th, td {
  padding: 12px;
  border: 1px solid #000;
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  height: 70px;
 
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:not(:first-child):hover {
  background-color: #ddd;
  transition: background-color 0.3s ease;
  box-shadow: -2px 3px 5px 1px;
  cursor: pointer;
}

td {
  font-weight: 500;
  
}

.red {
  background-color: salmon;
  box-shadow: -2px 3px 4px -2px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.modal-content {
  background: #eaeef4;
  border-radius: $br-8;
  padding: $sp-20;
  position: relative;
  max-width: $wd-500;
  width: $wd-500;
  height: $hg-305;
  z-index: 15;
  animation: bounce-in 0.5s ease-in-out;
  text-align: center;
  box-shadow: $shadow-small;
}

.btn-block {
  display: flex;
  justify-content: space-between;
}

.yes, .no {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  height: 50px;
  box-shadow: 0 8px 16px -8px;
  border-radius: 4px;
  width: 150px;
  transition: transform 0.2s ease-in-out;
}

.yes {
  background-color: rgb(15, 210, 15);
}

.no {
  background-color: #fe5440;
}

.yes:hover, .no:hover {
  transform: scale(1.05); /* Увеличиваем кнопку при наведении */
}

.week-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-button {
  background-color: #f4f4f4;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
  background-color: #ddd;
  transform: scale(1.05); /* Увеличиваем кнопку при наведении */
}

.month-span {
  font-size: 18px;
  font-weight: bold;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.work-time-block {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.select:focus {
  border-color: #007bff;
  outline: none;
}
