@import '../../styles/variables.scss';
 
.header-top{
	display: flex;
	justify-content: space-between;
	padding: $sp-10 $sp-10;
	background:#f2f2f2;
}
 
.navigation{
	display: flex;
	align-items: center;
	justify-content: start;
	background-color:#ddddddc7;
	padding: $sp-10;
	gap: 50px;
	box-shadow:3px 1px 2px -1px;
}
.navigation li {
	color:black;
	font-family:$font;
	font-weight: $regular;
	padding: $sp-5;
	
	 
}
.navigation li:hover{
	background:#ffffff;
	transition: .2s;
}
.other-btn{
	color:black;
	font-family:$font;
	font-weight: $regular;
	padding: $sp-5;;
	cursor: pointer;
	position: relative;
}
.other-btn:hover{
	background:#ffffff;
	transition: .2s;
}
.logOut{
	color: black;
    font-family: $font;
    font-weight: $regular;
	cursor: pointer;
	padding: 0 $sp-5;
	background:#ffffff;
	border-radius:$br-4;
	display: flex;
	align-items:center;
}
.logOut:hover{
 
	// transition: .1s;
	transform: scale(1.01);
}
.status{
	color:rgb(0, 0, 0);
	font-family: $font;
	font-size: $fz-20;
	font-weight: $medium;
}
 
 .other-modal ul li{
	 padding: 0 $sp-5;
}
.other-modal ul li:hover{
	background-color:#dddddd;
	transition: .3s;
	transform: scale(1.01);
	
}
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.GIF{
	border-radius:$br-50p;
}
 
.other-modal{
	position: absolute;
	background: white;
	box-shadow: $shadow-small;
	left: 0;
	line-height: $sp-35;
	border-radius:$br-4;
	padding: $sp-5;
}
.orders{
	display: flex;
	gap: $sp-5;
	align-items:center;
}
.create-orders{
	background-color:#f0526e;
	padding: $sp-0 $sp-10;
	border-radius:$br-4;
}


@media (max-width: 960px) {
  .navigation {
    display: none;  
  }
  .wrapper{
	display: flex;
	align-items: center;
	justify-content: start;
	gap: $sp-70;
	background-color:#dddddd;
	padding: $sp-30;
	border-radius:$br-4;
	box-shadow: $shadow-small;
  }
  
}
@media (max-width: 450px) {
   .status{
	font-size: $sp-12;
   }
   .logOut{
	font-size: $sp-12;
   }
  
}
 