@import '../../styles/variables.scss';
 
.header-top{
	display: flex;
	justify-content: space-between;
	padding: $sp-5 $sp-5;
}
 
.navigation{
	display: flex;
	align-items: center;
	justify-content: start;
	gap: $sp-70;
	background-color:#dddddd;
	padding: $sp-30;
	border-radius:$br-4;
	box-shadow: $shadow-small;

}
.navigation li {
	color:black;
	font-family:$font;
	font-size: $fz-20;
	font-weight: $light;
	padding: $sp-5;
}
.navigation li:hover{
	transform: scale(1.05);
	background:#ffffff3d;
	transition: .2s;
}
.other-btn{
	padding: $sp-5;
}
.other-btn:hover{
	transform: scale(1.05);
	background:#ffffff3d;
	transition: .2s;

}
.logOut{
	color: black;
    font-family: $font;
    font-size: $fz-20;
    font-weight: $medium;
	cursor: pointer;
}
.logOut:hover{
	transform: scale(1.1);
}
.status{
	color:black;
	font-family: $font;
	font-size: $fz-20;
	font-weight: $medium;
}
.other{
	cursor: pointer;
}
 
.other-modal ul li:hover{
	background-color:#dddddd;
	transition: .3s;
	transform: scale(1.1);
	
}
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.GIF{
	border-radius:$br-50p;
}
.other-btn{
	position: relative;
	cursor: pointer;
	color:black;
	font-family:$font;
	font-size: $fz-20;
	font-weight: $light;
}
.other-modal{
	position: absolute;
	background: white;
	box-shadow: $shadow-small;
	padding: $sp-15;
    left: -$sp-25;
    top: $sp-35;
	line-height: $sp-35;
	border-radius:$br-4;
}
.create-orders{
	background-color:salmon;
	padding: $sp-0 $sp-10;
	border-radius:$br-4;
	 
}


@media (max-width: 960px) {
  .navigation {
    display: none;  
  }
  .wrapper{
	display: flex;
	align-items: center;
	justify-content: start;
	gap: $sp-70;
	background-color:#dddddd;
	padding: $sp-30;
	border-radius:$br-4;
	box-shadow: $shadow-small;
  }
  
}
@media (max-width: 450px) {
   .status{
	font-size: $sp-12;
   }
   .logOut{
	font-size: $sp-12;
   }
  
}
 