@import '../../../../styles/variables.scss';


.button-wrapper{
	display: flex;
	gap: $sp-20;
}

.priceList-inner_item p {
  font-family: "Open Sans", sans-serif;
  font-size: $fz-15;
  width: $wd-350;
}
 
.priceList-inner_item:hover{
	transform: scale(1.01);
	transition: .2s;
	opacity: .8;
	box-shadow: $shadow-small;
}
.priceList-inner{
	line-height: $sp-32;
}
.priceList-inner_item{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: $sp-15;
	background:$bg-white;
	margin-bottom: $sp-5;
	border-radius:$br-4;
  align-items:center;
}

.selectedService {
  background-color: rgba(0, 0, 0, 0.242);
  border: $sp-2 solid $bg-white;  
  padding: $sp-10;
  border-radius: $br-4;
  
}
.clarify{
	color:salmon;
}
/*media*/

@media(max-width:1000px){
	   
	  .priceList-inner_item{
    display: block;
    gap: $sp-10;
    width: $wd-100p; 
    flex-shrink: 0;  
   }
  
    
   
   
   
}