@import '../../styles/variables.scss';


.title{
	margin-bottom: 15px;
}
.privacy-policy{
	padding: $sp-50;
}

.privacy-marker{
	font-family: Open Sans,sans-serif;
	color: #000;
    font-size: $fz-15;
    font-weight: $light;
    padding: $sp-5;
}
.privacy-paragraph{
	font-family: Open Sans,sans-serif;
	color: #000;
    font-size: $fz-15;
    font-weight: $light;
    padding: $sp-5;
	
}
.section li {
	list-style-type: circle;
    font-weight:$regular;
}
.section{
	box-shadow: $shadow-unique;
	padding: $sp-30;
}

@media(max-width:865px){
	.title{
		font-size: $fz-30;
	}
}
@media(max-width:580px){
	.title{
		font-size: $fz-20;
		 
	}
}