@import '../../styles/variables.scss';

.aboutUs{
    color: black;
	text-align: center;
	font-size: $fz-20;
    font-weight: $regular;
    width: $wd-1000;
    line-height: $wd-50;
    margin: $sp-50 auto;
    text-align: start;
}
.aboutUsContainer ul {
     
    padding: $sp-40 0 0 0;
    border-radius: $br-4;
    font-family: system-ui;
    line-height: $sp-30;
    
}

 .aboutUsContainer li {
     
    font-weight:$regular;
 }
 .aboutUsContainer {
  display: flex;
  flex-direction: column; // Располагаем элементы вертикально
  align-items: center;
  gap: 50px; // Добавляем расстояние между блоками
}
 .item{
    width: 60%;
    box-shadow:0 1px 4px -2px;
    padding: $sp-50;
    margin-top: $sp-20;
    margin-left: $sp-50;
    border-radius:$sp-15;
    transform: translateX(-100px);
 }
.item span{
    font-size: $fz-20;
    text-align: center;
    font-family: inter;
    font-weight: $regular;
}

 .item2{
    width: 60%;
    box-shadow:0 1px 4px -2px;
    padding: $sp-50;
    margin-top: $sp-20;
    margin-right: $sp-50;
    border-radius:$sp-15;
    transform: translateX(100px);
    text-align: end;
 }
.item2 span{
    font-size: $fz-20;
    text-align: center;
    font-family: inter;
    font-weight: $regular;
}
.background{
    background-image: url(../../../img/aboutUs/white.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background1{
    background-image: url(../../../img/aboutUs/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background2{
    background-image: url(../../../img/aboutUs/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.background3{
    background-image: url(../../../img/aboutUs/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
 
@media(max-width:1070px){
    .aboutUs{
    width: $wd-600;
}
}

@media(max-width:700px){
    .title{
        font-size: $sp-15;
    }
    .aboutUs{
        font-size: $fz-10;
        line-height: $sp-15;
    }
}
@media(max-width:650px){
    .title{
        font-size: $sp-12;
    }
    .aboutUs{
        width: $wd-400;
        padding: $sp-20;
    }   

}

 