@import '../../components/styles/variables.scss';


.preview-block{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.delete-Image__Preview{
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: $fz-12;
    font-weight: $light;
    padding: $sp-10;
    height: $hg-50;
    background-color: rgba(255, 93, 75, 0.715);
    border-radius: $br-4;
    width: $wd-150;
}