@import '../../styles/variables.scss';

 
.wrapper{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(6, 0fr); 
	gap: $sp-30; 
	width: $wd-100p; 
}
 
 
.logo{
	display: flex;
	width: $wd-50;
	margin: $sp-0 auto;
	margin-top: $sp-50;
}
.our-works__title{
	margin-top: $sp-50;
	margin-bottom: $sp-50;
}

.category-buttons{
	display: flex;
  justify-content: center;
  gap: $sp-50;
	
}
.category-button{
  font-weight: $light;
	cursor: pointer;
  color: black;
	padding: $sp-10;
	font-size: $fz-20;
	border-radius: $br-4;
	margin-bottom: $sp-15;
}
.category-button:hover{
	transform: scale(1.01);
	transition: .2s;
	opacity: .8;
	box-shadow: $shadow-small;
}

 
.img-work{
  object-fit: cover;
	width: $wd-100p;
  height: $wd-200;
  border-radius: $br-2;
}
.work-item{
	width: $wd-200;
}
.works-gallery{
	background: rgba(0, 0, 0, 0.05);
  padding: $sp-50;
}

.empty{
	text-align: center;
}
.category-name{
	margin: 0 0 $sp-50 0;
}
.active{
	background:rgba(0, 0, 0, 0.05);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: $wd-100p;
  height: $hg-100p;
}

.modal-content {
  position: relative;
  max-width: $mwd-90p;
  max-height: $mhg-90p;
}

.modal-image {
  height: auto;
  width: $wd-100p;
}

.close-btn {
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: $sp-10;
  right: $sp-10;
  padding: $sp-5 $sp-10;
}

.category-container {
  display: flex;
  flex-direction: column;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: $sp-10;
}

.category-button {
  cursor: pointer;
  padding: $sp-8 $sp-16;
  
  border-radius: $sp-5;
  box-shadow:1px 1px 4px -2px;;
}

.category-button:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #e0e0e0;
}

.category-select {
  display: none;  
}
 


.category-dropdown {
  width: $wd-100p;
  padding: $sp-8;
  font-size: $fz-1rem;
  border: $br-1 solid #ccc;
  border-radius: $br-5;
}

.activeOption {
  background-color: #f0f0f0;
}



@media(max-width:1380px){
	.category-buttons{
		flex-wrap: wrap;
	}
	.wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 0fr);
	}
}

@media(max-width:1270px){
	.category-button{
		font-size: 12px;
	}
	 
}

 
@media (max-width: 860px) {
  .category-buttons {
    display: none;  
  }

  .category-select {
    display: block;  
  }

}

 @media(max-width:750px){
	.category-buttons{
		flex-wrap: wrap;
	}
	.wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 0fr);
	}
  .work-item{
    width: $wd-100;
  }
  .img-work{
    object-fit: cover;
    width: $wd-200;
    height: $hg-100;
  }
  .category-name{
    font-size: $sp-30;
  }
}
@media(max-width:750px){
	 
	.wrapper{
    gap: $sp-5;
	}
  .category-name{
    font-size: $sp-20;
  }
   
}