@import '../styles/variables.scss';


.wrapper {
  display: flex;
  align-items: center;
  gap: $sp-3;
}

.ratingContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.star {
  font-size: $fz-24;
  color: rgb(154, 154, 154);   
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.filled {
  color: #FFD700;    
  transform: scale(1.2);  
}

.interactive {
  transition: color 0.2s ease, transform 0.2s ease;
}

.count {
  font-size: $fz-16;
  font-weight: $light;
  color: black;
  margin-left: $sp-8;
  transition: opacity 0.3s ease;
}

.ratingContainer:hover .count {
  opacity: 0.7;
}

@media(max-width:425px){
	  
	  .star{
      font-size:$fz-20;
    }
    .count{
      font-size: $fz-12;
    }
}
