  @import '../../styles/variables.scss';


.user-menu{
	width:$wd-300;
	padding: $sp-10 $sp-10;
    background: white;
    font-family: $font;
	border-radius: $br-8;
	display: flex;
	align-items:center;
	justify-content: space-evenly;
	cursor: pointer;
}
.user-menu:hover{
	transform: scale(1.01);
	transition: .2s;
	opacity: .8;
	box-shadow: $shadow-small;
}

.user{
	display: flex;
	gap: $sp-10;
	margin-bottom: $sp-5;
	
}
 .user-name{
	font-family:"Open Sans", sans-serif;
    font-size:  20px;
    font-weight:  300;
    color: black;
    border-radius: 5px;
 }
.imageInput {
  display: none;  
}

.avatar {
  display: inline-block;
  cursor: pointer;   
}

.avatarImage {
  width: 50px;   
  height: 50px;  
  border-radius: 50%;   
  object-fit: cover;   
}
.avatar img{
	width: $wd-50;
	border-radius: 50%;
}
.avatar:hover{
	border-radius: 50%;
	box-shadow: $shadow-small;
}
.user-menu{
	    margin: $sp-0 $sp-20;
}

@media(max-width:930px){
	.user-menu{
		width: $wd-250;
		 
	}
	
	.logOut{
		font-size: $fz-14;
	}
}
@media(max-width:690px){
	
	 
	.avatar img{
		width: 40px;
		height: 40px;
		object-fit: cover;
	}
	 
}

@media(max-width:490px){
	 
	 
	.logOut{
		font-size:$fz-12;
	}
}
 