  @import '../../styles/variables.scss';


.user-menu{
	width:$wd-300;
	padding: $sp-10 $sp-10;
    background: white;
    font-family: $font;
	border-radius: $br-8;
	display: flex;
	align-items:center;
	justify-content: space-evenly;
	cursor: pointer;
}
.user-menu:hover{
	transition: .2s;
	box-shadow: $shadow-small;
}

.user{
	display: flex;
	gap: $sp-10;
	margin-bottom: $sp-5;
	
}
 .user-name{
	font-family:"Open Sans", sans-serif;
    font-size:  $fz-20;
    font-weight:  $light;
    color: black;
    border-radius: $br-4;
 }
.imageInput {
  display: none;  
}

.avatar {
  display: inline-block;
  cursor: pointer;   
}

.avatarImage {
  width: $wd-50;   
  height: $hg-50;  
  border-radius: $br-50p;   
  object-fit: cover;   
}
.avatar img{
	width: $wd-50;
	border-radius: $br-50p;
}
.avatar:hover{
	border-radius:$br-50p;
	box-shadow: $shadow-small;
}
.user-menu{
	    margin: $sp-0 $sp-20;
}
.notifications-block{
	position: relative;
}
.notifications{
	width: $wd-330;
    position: absolute;
    background: #efeff1;
    text-align: center;
    z-index: 10;
    right: -$sp-150;
    top: $sp-40;
	padding: $sp-15 $sp-10 ;
	box-shadow: $shadow-small;
	border-radius:$br-4;
	border:transparent;
	animation:bounce-in .5s;
}
@keyframes bounce-in {
    0%{
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.notifications-img{
	width: $wd-30;
}
 
.order-count{
	color:black;
	font-weight: $semiBold;
	border-radius:50%;
	padding: $sp-5;
	display: flex;
	align-items:center;
	position: absolute;
    top: 0;
    right: -$sp-5;
    background: #fe5440;
    height: $hg-20;
}

.created{
	background:rgba(200, 200, 15, 0.76);
	padding: $sp-2 $sp-5 $sp-2 $sp-5;
	border-radius: $br-4;
}
.accepted{
	background-color: rgba(15, 210, 15, 0.573);
	padding: $sp-2 $sp-5 $sp-2 $sp-5;
	border-radius: $br-4;
}
 
.canceled{
	background-color: salmon;
    padding: $sp-2 $sp-5 $sp-2 $sp-5;
	border-radius: $br-4;
}
.closed{
	background-color: rgb(186, 178, 177);
    padding: $sp-2 $sp-5 $sp-2 $sp-5;
	border-radius: $br-4;
}
.all-notifications{
	color: white;
    background-color: #00aaff;
    font-family: "Open Sans", sans-serif;
    font-size: $fz-12;
    font-weight: $regular;
    padding: $sp-7;
    border-radius: $br-4;
	margin-top: $sp-10;
	width: 50%;
}
.all-notifications:hover{
	transform: scale(1.01);
    transition: 0.2s;
    opacity: 0.8;
    box-shadow: 0 8px 16px -8px;
}
.notifications-item__inner{
	display: flex;
	align-items:center;
	gap: $sp-10;
	padding: $sp-10 $sp-5;
	box-shadow:0px 1px 3px -2px;
}
.notifications-item__inner div {
	border-radius: $br-2;
	width: $wd-75;
}
 
@media(max-width:930px){
	 
	
	.logOut{
		font-size: $fz-14;
	}
}
 
@media(max-width:650px){
	
	 .notifications{
		right: -$sp-35;
	 }
}

@media(max-width:400px){
	.user-menu{
		width: $wd-270;
	}
	
 
}
@media(max-width:370px){
	.user-menu{
		width: $wd-250;
	}
	.avatar{
		width: $wd-35;
		height: $hg-35;
	}
	.avatarImage{
		height: $hg-35;
	}
	
 
}
@media(max-width:355px){
	 .user-menu{
		width: $wd-210;
	}
	.user{
		margin-bottom: 0;
	}
	.user-name{
		font-size: $fz-15;
	}
 
}

 