@import '../../../styles/variables.scss';


.sign-up_for__haircut{
	padding: $sp-10;
	height: $sp-100p;
	margin: $sp-50 $sp-120;
}

 
 .category{
	display: flex;
  color: black;
	justify-content: start;
   
  font-size: $fz-30;
  font-weight: $medium;
 }
 
.selected-services__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 10px;
	gap: $sp-50;
  right: $sp-10;
  top: $sp-90;
}
.services-count{
  color: black;
	font-family: $font;
	font-size: $fz-20;
  font-weight: $light;
}
 

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  
}
.modal-content {
  background: white;
  text-align: center;
  position: relative;
  z-index: 15; 
  padding: $sp-20;
  border-radius: $br-8;
  max-width: $wd-500;
  width: $wd-150;
  animation:bounce-in .5s;
  margin: $sp-10;
   
}
.animated{
  animation:bounce-in 1s;

}
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.clearService{
  color: black;
	background-color:rgb(250, 128, 114);
	font-family: $font;
	font-size: $fz-20;
  font-weight: $light;
  padding: $sp-10;
  border-radius: $br-4;
}
.next-to__barber{
 background-color: #00aaff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: max-content;
  text-align: center;
  padding: $sp-10 $sp-20;
  border-radius: $br-4;
  font-size: $fz-16;
}
.filter-block{
  position: absolute;
  right: $sp-15;
  top: $sp-25;
}
.filter-title{
  font-size: $fz-13;
  margin-bottom: $sp-5;

 }
 .filter{
  width: $wd-200;
  border: $br-2 solid;
  border-radius: $br-2;
}
.clarify{
  color:rgb(228 15 15 / 93%)
}
.sign-up_for__haircut{
  position: relative;
}
.gender{
  font-size: $fz-45;
  font-weight: $light;
}
 .price-list{
  margin-top: $sp-20;
 }
 
@media(max-width:1400px){
  .sign-up_for__haircut{
    margin: $sp-50 $sp-100;
  }
   
}
@media(max-width:1300px){
  .sign-up_for__haircut{
    margin: $sp-50 $sp-50;
  }
  
}
@media(max-width:1200px){
  .sign-up_for__haircut{
    margin: $sp-50 0;
  }
  
}

@media(max-width:1000px){
	   
	 
   .sign-up_for__haircut{
	  margin: 0;
    }
   
   
}
 
@media(max-width:635px){
	  
      .type-of__Price{
        font-size: $fz-30;
      }
      .next-to__barber{
        font-size: $fz-15;
      }
      .category{
        font-size: $fz-20;
        
      }
}
@media(max-width:580px){
	  .filter{
      width: $wd-140;
    }
    .filter-title{
      font-size: $fz-10;
    }
    .gender{
      font-size: $fz-30;
    }
    .category{
        font-size: $fz-15;
        
      }
       
}
@media(max-width:475px){
	  
        
      .next-to__barber{
        font-size: $fz-12;
      }
      
      .selected-services__container{
        top: $sp-75;
      }
      .next-to__barber{
        padding: $sp-5 $sp-10 !important;
      }
}