@import '../../styles/variables.scss';

.works{
    margin-bottom: $sp-20;
}
.works-filed{
    padding: $sp-20;
}

.message{
    text-align: center;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: salmon;
}
.gr-btn{
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background 0.3s;
  background-color: #b5b5b5;
  width: $wd-200;
  margin-top: $sp-35;
  padding: $sp-15 ;
  margin-left: $sp-10;
  border-radius:$br-4;
}
.gr-btn:hover{
    transform: scale(1.02);
    box-shadow: $shadow-small;
    transition: .2s;
}
 
.category{
    width: 100%;
    max-width: 100%;
    padding: 0.706rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.412rem;
    color: var(--input-text);
    border-radius: var(--input-border-radius, 0.2rem);
    border-width: var(--input-border-width, 0.01rem);
    border-style: solid;
    border-color: var(--border-primary);
    box-shadow: var(--input-box-shadow);
    outline: none;
    filter: none;
    caret-color: var(--input-text) !important;
    background: var(--input-background) !important;
    appearance: none !important;
    margin-top: 5px;
}
