@import '../../styles/variables.scss';

.news-field{
  padding: $sp-20;
}
.news-field__inner{
  width: $wd-100p;
}


@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.add-news{
  width: 200px;
  position: relative;
  cursor: pointer;
  padding: var(--padding-main-button);
  margin-top: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-main-button);
  font-size: var(--font-size-main-button);
  line-height: var(--line-height-main-button);
  border-radius: var(--button-border-radius, 4px);
  border: var(--button-border);
  outline: none;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: background 0.3s;
  box-shadow: var(--button-box-shadow, none);
  --button-text-color: var(--button-text-primary);
  color: var(--button-text-color);
  background: var(--button-primary-background);
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  background-color: #b5b5b5;
  margin-top: 35px;
  padding: 15px;
  margin-left: 10px;
}
.add-news:hover{
  opacity: .9;
}
 
 .accept-add__news{
  width: 200px;
  position: relative;
  cursor: pointer;
  padding: var(--padding-main-button);
  margin-top: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-main-button);
  font-size: var(--font-size-main-button);
  line-height: var(--line-height-main-button);
  border-radius: var(--button-border-radius, 4px);
  border: var(--button-border);
  outline: none;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: background 0.3s;
  box-shadow: var(--button-box-shadow, none);
  --button-text-color: var(--button-text-primary);
  color: var(--button-text-color);
  background: var(--button-primary-background);
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  background-color: #b5b5b5;
  padding: 15px;
 }
.description{
  width: 100%;
  max-width: 100%;
  min-width: 0px;
  padding: 0.506rem;
  font-style: normal;
  font-weight: 400;
  border-radius: var(--input-border-radius, 0.2rem);
  border-width: var(--input-border-width, 0.01rem);
  border-style: solid;
  border-color: var(--border-primary);
  box-shadow: var(--input-box-shadow);
  outline: none;
  filter: none;
  caret-color: var(--input-text) !important;
  background: var(--input-background) !important;
  appearance: none !important;
  margin-top: 5px;
  height: 100px;
}
 