@import '../../../styles/variables.scss';


.choose-a__barbers{
    padding: $sp-10;
    margin: 0px $sp-150;
}
.barbers{
	cursor: pointer;
	align-items:end;
	gap: $sp-15;
	padding: $sp-15;
	background:$bg-white;
	border-radius:$br-4;
	margin-bottom: $sp-5;
    margin-top: $sp-10;
}
.barbers:hover{
	transform: scale(1.01);
	transition: .2s;
	box-shadow: $shadow-small;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.barbers p {
	color: black;
	margin-top: $sp-10;
	font-size: $fz-16;
	font-weight: $font-weight-light;
}
.back{
	background-color: $bg-white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
    text-align: center;
    padding: $sp-10 $sp-20;
    border-radius: $br-5;
    font-size: $fz-16;
}
.back:hover{
	transform: scale(1.01);
	transition: .2s;
	opacity: .8;
	box-shadow: $shadow-small;

}
 
 .selectedBarber {
  display: flex;
  flex-wrap: wrap; 
  background-color: #00000030;
  border: $sp-2 solid $bg-white;  
  padding: $sp-10;
  border-radius: $br-4;
}
.navigate-button__container button{
	background-color: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
    text-align: center;
    padding: $sp-10 $sp-20;
    border-radius: $br-4;
    font-size: $fz-16;
}
.navigate-button__container button:hover{
	transition: .2s;
	transform: scale(1.02);
	opacity: .8;
}
 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  
}
.modal-content {
  background: white;
  border-radius: $br-8;
  z-index: 15; 
  position: relative;
  padding: $sp-20;
  max-width: $wd-500;
  width: $wd-100;
  animation:bounce-in .5s;
  margin: $sp-10;
  text-align: center;
   
}

@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal-content button{
	text-align: center;
    cursor: pointer;
    background: $bg-grey;
    padding: $sp-10 $sp-10;
    border-radius: $br-8;
}

 
textarea{
    resize: none;
    outline: none;
    display: flex;
    border:none;
    border-bottom:$br-1 solid;
    width: $wd-100p;
    margin-top: $sp-20;
    border-radius: 0;
    min-height: $sp-25;
    transition: width 0.2s ease, height 0.2s ease;
    position: relative;
}

.cancel{
    left: $sp-100;
}
.delete{
    left: $sp-180;
    background-color:salmon !important;
}
.disabled {
  background-color: #cccccc;
  border-color: #999999;
  color: #666666;
  cursor: not-allowed;
}
 
.load-more{
    background-color: #00aaff;
    font-family: "Open Sans", sans-serif;
    color: white;
    width: max-content;
    font-size: $fz-10;
    font-weight: $font-weight-light;
    padding: $sp-10;
    border-radius: $br-4;
    margin-top: $sp-10;
}

 
.open{
    animation:bounce-in .8s;
}
.close{
    animation: bounce-out .8s forwards;
}

.about-barber{
    display: flex;
    align-items:center;
    gap: $sp-30;
    line-height: $sp-30;
}

.user-avatar{
     
    object-fit: cover;
    border-radius: $br-50p;
}


.change-button__block{
    position: absolute;
}

/*media*/
@media(max-width:1000px){
	 
	 
   
    .choose-a__barbers{
        margin: 0;
    }
    .signUpForAHaircut{
        font-size: $fz-30
    }
    .typeOfPrice{
        font-size: $fz-30
    }
    
}


 @media(max-width:425px){
	 
	  
     .navigate-button__container button{
        font-size: $fz-12;
     }
     .back{
        font-size: $fz-12;
     }
     
    
}
 